/* CSS Document */


/*content*/
.content{ width:1136px; margin:0 auto; padding-top:42px; padding-bottom:37px;}
.content p{ color:#666668; line-height:30px; padding-bottom:16px;}
.content p.red{ color:#ff0101; padding-top:19px;}